[submodule "Projects/AGY_AVIATIONCHAT"]
	path = Projects/AGY_AVIATIONCHAT
	url = https://github.com/sudomadhatter/AGY_AVIATIONCHAT
	ignore = all
[submodule "Projects/B-L-WorldWide"]
	path = Projects/B-L-WorldWide
	url = https://github.com/sudomadhatter/B-L-WorldWide
	ignore = all
[submodule "Projects/BRKN_Tattoos"]
	path = Projects/BRKN_Tattoos
	url = https://github.com/sudomadhatter/BRKN_Tattoos
	ignore = all
[submodule "Projects/Fresh_Workspace_BMAD"]
	path = Projects/Fresh_Workspace_BMAD
	url = https://github.com/sudomadhatter/Fresh_Workspace_BMAD
	ignore = all
[submodule "Projects/NEXGen-Films"]
	path = Projects/NEXGen-Films
	url = https://github.com/sudomadhatter/NEXGen-Films
	ignore = all
[submodule "Projects/NEXgen-VR-Director"]
	path = Projects/NEXgen-VR-Director
	url = https://github.com/sudomadhatter/NEXgen-VR-Director
	ignore = all
[submodule "Projects/OpenChat-Openrouter"]
	path = Projects/OpenChat-Openrouter
	url = https://github.com/sudomadhatter/OpenChat-Openrouter
	ignore = all
[submodule "Projects/RAG_Pipeline_AC"]
	path = Projects/RAG_Pipeline_AC
	url = https://github.com/sudomadhatter/RAG_Pipeline_AC
	ignore = all
[submodule "Projects/sudo-project-skeleton"]
	path = Projects/sudo-project-skeleton
	url = https://github.com/sudomadhatter/sudo-project-skeleton
	ignore = all
[submodule "Projects/sudo-command-center"]
	path = Projects/sudo-command-center
	url = https://github.com/sudomadhatter/sudo-command-center.git
